<div class="container compact-size mt-2 mb-2" *ngIf="posts$ | async"
>
  <div fxLayout="row" fxLayoutAlign="center" class="paginator pt-3" *ngIf="paginatorInput.numberResults > 0">
    <app-paginator [state]="paginatorInput" (_currentPage)="getPostsByStartNumber($event)" ></app-paginator>
  </div>

  <ng-container *ngFor="let post of (posts$ | async)">
    <div class="pt-2 pb-2" fxLayout="column" fxLayoutGap="1rem">
      <img *ngIf="post?.featured_image" [src]="post.featured_image" class="img-fluid" alt="featured image">
      <div class="h2 mt-4">{{post.title}}</div>
      <div class="text-muted">Written by {{post.author.name}} on {{post.date | date: 'EEEE, dd MMMM, y'}}.</div>
      <div class="h5 font-weight-light mt-4" [innerHTML]="post.excerpt" ></div>
      <div fxLayout="row" fxLayoutAlign="end">
        <button class="btn btn-outline-info pt-2"
                [routerLink]="['/blog/post/' + post.slug]"
        >see more...</button>
      </div>
    </div>
    <hr/>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="center" class="paginator pt-3" *ngIf="paginatorInput.numberResults > 0">
    <app-paginator [state]="paginatorInput" (_currentPage)="getPostsByStartNumber($event)"></app-paginator>
  </div>

</div>
