<nav>
  <ul class="pagination" fxLayoutAlign="center center">

    <li (click)="prevPage()"
        class="btn btn-success mr-2"
        [ngClass]="{disabled: !(currentPage > 1)}"
    >
      <span>prev</span>
    </li>


    <li (click)="buttonPrevNextMany(prevButton) "
        *ngIf="prevButton + paginatorSize > 1"
        fxLayout="column" fxLayoutAlign="center"
        class="page-item next-prev-many"
        [ngClass]="{active: prevButton === currentPage  }"
    ><div class="page-link"
    >{{prevButton > 0 ? prevButton : 1 }}...{{prevButton + paginatorSize - 1 !== 1 ? prevButton + paginatorSize - 1 : null}}</div></li>


    <li fxLayout="row">
      <ng-container *ngFor="let page of pageNames; let index = index">
        <ng-container *ngIf="index >= ( paginatorStartPage - 1) && index < ( paginatorSize + paginatorStartPage - 1)">

          <span (click)="setPage(page)"
              class="page-item"
              [ngClass]="{active: index === currentPage - 1 }"
          ><span class="page-link">{{page}}</span></span>

        </ng-container>
      </ng-container>
    </li>


    <li (click)="buttonPrevNextMany(nextButton)"
        *ngIf="nextButton < numberPages"
        fxLayout="column" fxLayoutAlign="center"
        class="page-item next-prev-many"
        [ngClass]="{active: nextButton === currentPage  }"
    ><div class="page-link "
    > {{nextButton}}...{{nextButton +  paginatorSize - 1}}</div></li>


    <li (click)="nextPage()"
        class="btn btn-success ml-2"
        [ngClass]="{disabled: !(currentPage < numberPages)}"
    >
      <span>next</span>
    </li>

  </ul>
</nav>
