.page-item
  &:hover :not(.disable)
    cursor: pointer
  &.next-prev-many
    margin-right: 2px
    margin-left: 2px
    .page-link
      font-size: .8em
      opacity: .8
      color: #282828
      background-color: aliceblue
.page-link
  user-select: none
