<div class="container compact-size" *ngIf="(post$ | async) as post"
>
  <div class="pt-2 pb-2" fxLayout="column" fxLayoutGap="1rem">
    <img [src]="post?.featured_image" class="img-fluid" alt="featured image">
    <div class="h2 mt-2">{{post?.title}}</div>
    <div class="text-muted">Written by {{post?.author?.name}} on {{post?.date | date: 'EEEE, dd MMMM, y'}}.</div>
    <div class="h5 font-weight-light" [innerHTML]="post?.excerpt" ></div>
  </div>
  <div class="content" [innerHTML]="post?.content"></div>

  <div class="comments">
    <h3 class="h3 mb-2 mt-4">Comments</h3>
    <ng-container *ngFor="let comment of (comments$ | async)" >

      <hr *ngIf="!comment.parent" class="mt-0 mb-4"/>
      <div class="comment pb-4" fxLayout="row" fxLayoutGap="1rem"
           [ngClass]="{even: comment?.parent} "
           [ngStyle]="{marginLeft: (comment.treeLevel * 16) + 'px'}"
      >
        <div class="avatar mr-4" fxFlex="64px">
          <img [src]="comment?.author?.avatar_URL" class="img-fluid avatar" alt="avatar">
        </div>

        <div>
          <div class="comment-content" [innerHTML]="comment?.content"></div>
          <small class="text-muted ml-4">Written by {{comment?.author?.name}} on {{comment?.date | date: 'EEEE, dd MMMM y,  HH:MM'}}.</small>
        </div>
      </div>
    </ng-container>
  </div>

</div>
