.content
  opacity: .9
  line-height: 1.8em
  p
    margin-bottom: 1.5em

.avatar
  width: 64px
  height: 64px
  border-radius: 100%

.comments
  hr
    opacity: .8
    margin-left: 1rem
    margin-right: 2rem

.comment-content
  opacity: 0.9
  font-size: 0.9em
  p
    margin-bottom: 6px

img
  height: auto

.entry-wrapper
  margin: 2rem 0 4rem
