<div class="navbar bg-light"
     fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem"
>
  <div class="navbar-brand">RL 2020-08-13</div>
  <div>recruitment task for LUKARDI </div>
</div>

<router-outlet></router-outlet>
