/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'

.test
  border: 1px solid #677ea0

.container
  &.compact-size
    max-width: 800px

.content
  width: 100%
  img
    max-width: 100%
